# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Archives
*.tar.gz
*.tar.xz
*.zip

# Cred key
*.json

# Java Class files
*.class

# Build
/build/

# Binaries folder
/bin/

# VScode
/.vscode/

# Source folder
_sources/*